.scrolling_text {
  inline-size: '200px'; /* Adjust width as needed */
  --white-space: nowrap; /* Prevent text from wrapping */
  --overflow: hidden; /* Hide overflowing text */
  animation: scrollText 8s linear infinite; /* Animation properties */
  animation-delay: 5s;
}

@keyframes scrollText {
  0% {
    transform: translateY(100%);
  } /* Start from right side */
  100% {
    transform: translateY(-100%);
  } /* Move to left side */
}

.fade_out_element {
  opacity: 1; /* Initial opacity */
  animation: fadeOut 1s forwards; /* Animation properties */
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Start opacity */
  }
  to {
    opacity: 0; /* End opacity */
  }
}

.fade_element {
  opacity: 1;
  animation: fadeAnimation 8s infinite; /* 4s total duration, infinite loop */
}

@keyframes fadeAnimation {
  0%,
  100% {
    opacity: 1;
  } /* Start and end with opacity 1 */
  50% {
    opacity: 0;
  } /* Fade out over 1 second (50% of 4s) */
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Automatically create columns and adjust their size */
  grid-gap: 4px; /* Add gap between grid items */
}
.grid_box {
  inline-size: 100%; /* Each box occupies 100% of its grid cell */
  block-size: 100px; /* Set a fixed height for each box */
  background-color: #ccc;
  display: 'flex';
  flex-direction: 'column';
  gap: '4px';
  overflow: 'hidden';
  box-shadow: 'rgba(94, 93, 102, 0.08) 1px 1px 0px 0px, rgba(94, 93, 102, 0.1) 2px 2px 3px 0px';
}
